{% extends 'base.html' %}
{% load static %}

{% block content %}

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <img class="pic" src="static/image/book.jpeg" width="110px" alt="">
    <!-- <a class="navbar-brand abc" href="#">book<span>my</span>show</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
      <form class="d-flex" role="search">
        <input class="form-control me-8 a" type="search" placeholder="Search for Movies,Events,Plays,Sports and Activities" aria-label="Search">
        <a class="nav-link b" href="#">Kochi</a>
        <button class="btn btn-success me-2 c" type="submit">add</button>
        <button class="btn btn-danger me-2 c" type="submit">signin</button>
      </form>
    </div>
  </div>
</nav>



<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav aa">
          <!-- <a class="navbar-brand dd" href="#">Movies</a> -->
          <a class="nav-link active" aria-current="page" href="#">Movies</a>
          <a class="nav-link" href="#">Stream</a>
          <a class="nav-link" href="#">Events</a>
          <a class="nav-link" href="#">Plays</a>
          <a class="nav-link" href="#">Sports</a>
          <a class="nav-link" href="#">Activities</a>
          <form class="d-flex dd">
          <a class="nav-link disabled">ListYourShow</a>
          <a class="nav-link disabled">Corporates</a>
          <a class="nav-link disabled">Offers</a>
          <a class="nav-link disabled">Gift Cards</a>
          </form>
          
        </div>
      </div>
    </div>
</nav>
<div class="oo p-5 m-5">
  <h3>Recommended Movies</h3>
  <h4>See All</h4>

</div>
<div class="container-fluid ">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 p-3 d-flex justify-content-center pp">
      <img src="/home/synnefo/Downloads/6.jpeg">
      <h2>Neru</h2>
      <h3>Drama/Thriller</h3>
      <img src="/home/synnefo/Downloads/6.jpeg">
      <h2>Neru</h2>
      <h3>Drama/Thriller</h3>
      <img src="/home/synnefo/Downloads/6.jpeg">
      <h2>Neru</h2>
      <h3>Drama/Thriller</h3>
      <img src="/home/synnefo/Downloads/6.jpeg">
      <h2>Neru</h2>
      <h3>Drama/Thriller</h3>
      <img src="/home/synnefo/Downloads/6.jpeg">
      <h2>Neru</h2>
      <h3>Drama/Thriller</h3>
    </div>
   </div>
</div>


{% endblock %}